<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="@{/newPw}" method="post">

    <div class="form-group"><!--사용자 비밀번호-->
        <label for="inputPassword">새 암호</label>
        <input type="password"  id="inputPassword" name="password" th:field="*{password}" placeholder="비밀번호"required>
        <span th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></span>
    </div>
</form>

</body>
</html>